# Example Env
SECRET_TOKEN: f7464996feeb1ea2a95606e0cce606e0cce6f74696fe6851eb1ea2a95606e0cce606e0cce6f7464996fe6851eb1ea2a95606e0cce6

HOST: http://localhost:4300
EMAIL_HOSTNAME: flaredown.dev
EMBER_HOST: http://localhost:4300

DISCOURSE_URL: https://talk.flaredown.com
DISCOURSE_SSO_SECRET: abc123
DISCOURSE_API_KEY: abc123
DISCOURSE_API_USERNAME: Flaredown

DEV_PORT: 3000
REDIS_PORT: 6379

# Dev Pusher
PUSHER_APP_ID: 65526
PUSHER_KEY: 12bdfdebc5307b2d8918
PUSHER_SECRET: a65359224a511e81449f