h2 Score: #{@entry.score}
p Stools: #{@entry.stools}
p Abdominal Pain: #{@entry.ab_pain}
p General: #{@entry.general}
p Arthritis: #{@entry.complication_arthritis}
p Iritis: #{@entry.complication_iritis}
p Erythema: #{@entry.complication_erythema}
p Fistula: #{@entry.complication_fistula}
p Fever: #{@entry.complication_fever}
p Other Fistula: #{@entry.complication_other_fistula}
p Opiates: #{@entry.opiates}
p Abdominal Mass: #{@entry.mass}
p Hematocrit: #{@entry.hematocrit}
p Current Weight: #{@entry.weight_current}
p Date: #{@entry.date}
p Created At: #{@entry.created_at}