/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.2em;
	color: lighten(#000, 20%);
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}

nav {
	display: block;
	background: #eee;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 2%;
	.logo {
		float: left;
		height: 100%;
		padding: 20px;
	}
	ul {
		float: right;
		li {
			padding: 40px 20px;
			display: inline-block;
			&:hover {
				background: #fff;
			}
			a {
				color: #333;
			}
		}
	}
}