@import "progress_bar"
@import "rickshaw.min"
@import "entries"
@import "chart"
@import "questioner"
@import "bootstrap"
@import "circle"

body
	background: #eee
	color: #bbb

.navbar
	background: #fff

.main
	background: #fff

#stats
	padding: 4%
	cursor: default
	.stat-box
		margin-bottom: 8%
		h1
			font-size: 3.5em
		&:hover
			color: #666