//Mixins
@mixin standard-shadow
	box-shadow: 0 4px 0 rgba(0,0,0,.065)
@mixin grad-green-orange-red
	background: #98cb60
	background: -moz-linear-gradient(left,  #98cb60 0%, #e2a745 50%, #d46976 100%)
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#98cb60), color-stop(50%,#e2a745), color-stop(100%,#d46976))
	background: -webkit-linear-gradient(left,  #98cb60 0%,#e2a745 50%,#d46976 100%)
	background: -o-linear-gradient(left,  #98cb60 0%,#e2a745 50%,#d46976 100%)
	background: -ms-linear-gradient(left,  #98cb60 0%,#e2a745 50%,#d46976 100%)
	background: linear-gradient(to right,  #98cb60 0%,#e2a745 50%,#d46976 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98cb60', endColorstr='#d46976',GradientType=1 )

//Colors
//#FAF8F3 dirty yellow - warm but too low-contrast
//#FAF6ED even warmer yellow
//#EFF0F4 grey - cold but clear
//#E8F3F1 seafoam - maybe a little frivolous looking?
$background: #FAF8F3
$blue-dark: #405878
$blue-mid: #657e9e


//External styles
@import "progress_bar"
@import "rickshaw.min"
@import "bootstrap"
@import "bootstrap-switch.min"
@import "fonts"

//Internal styles
@import "global"
@import "entries"
@import "chart"
@import "questioner"
@import "circle"