.entries-chart
  .chart-container 
    font-family: Arial, Helvetica, sans-serif
    margin: 0 auto
    width: 100%
    height: 300px
    line.horizontalGrid
      stroke: #ccc
      stroke-dasharray: 1,3
    line.verticalGrid
      stroke: #ccc
      stroke-dasharray: 1,3
    circle.score
      fill: white
      stroke: steelblue
      stroke-width: 2px
      
    .score-text
      fill: black
    
    .line
      fill: transparent
      stroke: steelblue
      stroke-width: 4px
      
    .chart-fill
      fill: lightblue
      
  .meds-chart-container 
    font-family: Arial, Helvetica, sans-serif
    margin: 0 auto
    width: 100%
    height: 100px
      
    .medication
    .med-level-1
      fill: steelblue
    .med-level-2
      fill: orange
    .med-level-3
      fill: pink
    .med-line
      stroke-width: 1px
      stroke: grey
      fill: none
      