.chart-container 
  font-family: $proxima-semibold
  color: $blue-mid
  margin: 0 auto
  width: 100%
  height: 300px
  line.horizontalGrid
    stroke: #ccc
    stroke-dasharray: 1,3
  line.verticalGrid
    stroke: #ccc
    stroke-dasharray: 1,3
  circle.score
    fill: $background
    stroke: $blue-mid
    stroke-width: 4px
    &.missing
      stroke: $pink-mid
    &.incomplete
      stroke: $orange-mid
  .purpleForegroundStop1
    stop-color: darken($background, 7%)
  .purpleForegroundStop2
    stop-color: $background
    
  .score-text
    fill: $blue-mid
  
  .chart-line
    fill: transparent
    stroke: $blue-mid
    stroke-width: 4px
    -webkit-filter: drop-shadow( -5px -5px 5px #000 )
    filter: drop-shadow( -5px -5px 5px #000 )
    
  .chart-fill
    fill: /* url(#gradientForegroundPurple) */none
    
.meds-chart-container 
  font-family: $proxima-regular
  margin: 0 auto 50px auto
  width: 100%
  height: 100px
    
  .medication
    stroke: $background
    stroke-width: 6px
  .med-level-1
    fill: $blue-mid
  .med-level-2
    fill: $orange-dark
  .med-level-3
    fill: $pink-mid
  .med-line
    stroke-width: 2px
    stroke-dasharray: 1, 6
    stroke: darken($background, 8%)
    fill: none
    stroke-linecap: round
    
