.entries-chart
  .chart-container 
    font-family: Arial, Helvetica, sans-serif
    margin-top: 10px
    width: 950px
    height: 500px
    svg
      background-color: #eee
    line.horizontalGrid
      stroke: #ccc
    line.verticalGrid
      stroke: #ccc
    circle.score
      fill: blue
      
    .score-text
      fill: #333
      font-size: 13px
    
    .line
      fill: none
      stroke: steelblue
      stroke-width: 1.5px