// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.entry-form {
	li {
		padding: 20px;
		&:hover {
			background: #eee;
		}
	}
}
.selected {
  background-color: #bbb;
}
#stats {
  cursor: default;
  color: #bbbbbb;
  .stat-box {
    @include standard-shadow;
    margin-bottom: 8%;
    padding: 8%;
    background: white;
    border-radius: 3px;
    overflow: hidden;
    h1 {
      font-family: $proxima-regular;
      font-size: 3.5em;
      color: $green-mid;
    }
    h4 {
      font-family: $proxima-regular;
      margin-top: 0;
    }
    &:hover {
      position: relative;
      top: 1px;
      color: #666666;
      box-shadow: 0 3px 0 darken($background, 15%);
    }
  }
}