@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('/assets/proximanova-bold-webfont.eot');
    src: url('/assets/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/proximanova-bold-webfont.woff') format('woff'),
         url('/assets/proximanova-bold-webfont.ttf') format('truetype'),
         url('/assets/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novalight';
    src: url('/assets/proximanova-light-webfont.eot');
    src: url('/assets/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/proximanova-light-webfont.woff') format('woff'),
         url('/assets/proximanova-light-webfont.ttf') format('truetype'),
         url('/assets/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('/assets/proximanova-regular-webfont.eot');
    src: url('/assets/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/proximanova-regular-webfont.woff') format('woff'),
         url('/assets/proximanova-regular-webfont.ttf') format('truetype'),
         url('/assets/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_condensedlight';
    src: url('/assets/proximanovacond-light-webfont.eot');
    src: url('/assets/proximanovacond-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/proximanovacond-light-webfont.woff') format('woff'),
         url('/assets/proximanovacond-light-webfont.ttf') format('truetype'),
         url('/assets/proximanovacond-light-webfont.svg#proxima_nova_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_cn_rgregular';
    src: url('/assets/proximanovacond-regular-webfont.eot');
    src: url('/assets/proximanovacond-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/proximanovacond-regular-webfont.woff') format('woff'),
         url('/assets/proximanovacond-regular-webfont.ttf') format('truetype'),
         url('/assets/proximanovacond-regular-webfont.svg#proxima_nova_cn_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_condensedSBd';
    src: url('/assets/proximanovacond-semibold-webfont.eot');
    src: url('/assets/proximanovacond-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/proximanovacond-semibold-webfont.woff') format('woff'),
         url('/assets/proximanovacond-semibold-webfont.ttf') format('truetype'),
         url('/assets/proximanovacond-semibold-webfont.svg#proxima_nova_condensedSBd') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('/assets/proximanova-semibold-webfont.eot');
    src: url('/assets/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/proximanova-semibold-webfont.woff') format('woff'),
         url('/assets/proximanova-semibold-webfont.ttf') format('truetype'),
         url('/assets/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

$proxima-light: "proxima_novalight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$proxima-regular: "proxima_nova_rgregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$proxima-semibold: "proxima_novasemibold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$proxima-bold: "proxima_nova_rgbold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$proxima-cn-light: "proxima_nova_condensedlight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$proxima-cn-regular: "proxima_nova_cn_rgregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$proxima-cn-semibold: "proxima_nova_condensedSBd", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;