body {
  background: $background;
  font-family: $proxima-regular;
}
ul {
  list-style-type: none;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
.navbar {
  @include standard-shadow;
  background: white;
  border: none;
  padding: 1% 2%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  .navbar-brand {
  	font-family: $proxima-semibold;
    font-size: 1.8em;
    color: $green-mid;
  }
  .dropdown-menu {
    @include standard-shadow;
    border: none;
    border-radius: 3px;
  }
}
.modal {
  .modal-dialog {
    .modal-content {
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
    }
  }
}
