#questioner {
  text-align: center;
  nav {
    cursor: pointer;
    a {
      padding: 2px 5px;
    }
  }
  .section {
    padding: 10% 0;
    .response-select {
      @include grad-green-orange-red;
      border-radius: 5px;
      display: inline-block;
      box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
      &:hover {
        li {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
      li {
        display: inline-block;
        border-left: 2px solid white;
        transition: background-color 0.1s ease;
        &:first-of-type {
          border-left: none;
        }
        &:hover {
          background-color: rgba(255, 255, 255, 0);
        }
        a {
          padding: 15px 30px;
          display: inline-block;
          color: white;
          font-size: 2.5em;
        }
        a.selected {
        	background: rgba(0,0,0,0.4);
        }
      }
    }
  }
  &:focus {
  	outline: none;
  }
}
