p Someone has requested a link to change your password. You can do this through the link below.

p: a href="#{ENV['EMBER_HOST']}/reset-your-password?resetToken=#{@token}" Change my password

p Your password won't change until you access the link above and create a new one.
p = t("devise.mailer.invitation_instructions.ignore").html_safe